*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(186, 186, 186);
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    color: rgb(74, 106, 166);
}

.nav li{
    display: inline-block
}


.id2{
    float: right;
}


.id3{ 
}


.id1{
    width: 600px;
}

.id4{
    width: 300px;
    align-items: center;
    float: center;
    margin-left: 600px;
    height: 420;
}

.nav2{
    color: black;

}

.nav2 li{
    display: inline-block;
    margin-left: 220px;
}


.id5{
    width: 1534px;
    float: center;
}